---
layout: post
title: "welcome!"
date: 2017-05-18 08:30:00 -0800
pagination:
  enabled: true
---

<p>
Winnie-the-Pooh had a "thoughtful spot" where he would sit on a log, close one
eye, and tap his head repeatedly as he said, "Think, think, think."
In the spirit of Pooh, I named the blog "plou's tHoTFuL SPot".
</p>

<p>
There is something universally endearing about the characters who inhabit the
Hundred Acres Wood. Randy Pausch emphasized our conscious choice to be like
Eeyore or Tigger, to wallow in our sorrow or to approach life with a tenacious
joy. Benjamin Hoff related the Taoist idea of the uncarved block, "P'u", to the
character Pooh, attributing to Pooh a simple-minded, but not stupid, awareness
of the present moment. Of course, this blog is not about the world of
Winnie-the-Pooh, nor is it about anything specific really. But Pooh
and my other old friends from the Hundred Acres Wood remind me each and every
day to retain a childlike heart; I hope this blog is an outward expression of
a simple curiousity and joy.
</p>

<blockquote>
"When you discard arrogance, complexity, and a few other things that get in the way, sooner or later you will discover that simple, childlike, and mysterious secret known to those of the Uncarved Block: Life is Fun."
~ Benjamin Hoff
</blockquote>

<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
